
/*
family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&'
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
      
*/
@import url('/css/dinpro.css');
@import url('/css/rubik.css');

.pentaqo-dashboard {
	/*background: url('/images/pentaqo-dashboard.png') no-repeat center center;*/
	background-color: #1a365a !important;
}

.pentaqo-dashboard img{
	width: 300px !important;
    position: absolute !important;
    top: 25% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
}

.pittogramma{
    width: 25px !important;
    margin-left: 13px !important;
}

[data-css="sidebar-logo"]{
    margin-top: 25px !important;
}

[data-css="default-dashboard"] + .adminjs_Box > .adminjs_Box > .adminjs_Box {
    background-color: #F5F5F5 !important;
}

[data-css="default-dashboard"] + .adminjs_Box > .adminjs_Box > .adminjs_Box:hover {
    border-color: #1a365a !important;
}

div[id^="UNIQUE_KEY_TOOLTIP"] section {
	width: auto;
	height: auto;
}
/*sfondo homepage
[data-css="default-dashboard"] + .adminjs_Box {
	background-color: yellow !important;
}*/

.pentaqo-dashboard h2 {
	font-size: xx-large !important;
	text-align: center !important;
}

[data-css$="-list-table-wrapper"]{
    margin-bottom: 100px !important;
}

[data-css$="-record-show-route-wrapper"] [data-css$="-show-drawer-content"] .adminjs_Box {
	border: none !important;
}

h2 {
	text-transform: uppercase !important;
	font-size: x-large !important;
    font-weight: bold !important;
	margin-left: 20px !important;
}

/* Rimuove la manina dalle celle */
/*
[data-css="relations-table"] .adminjs.adminjs_TableCell {
	cursor: default !important; 
}
\*

/* Mantiene la manina sui bottoni */
/*
.adminjs_Button {
	cursor: pointer !important; 
}
*\

/*[data-css$="-record-show-route-wrapper"] [data-css$="-show-drawer-content"] > .adminjs_Box:nth-child(-n+3) section {
    background-color: #F7F7F7 !important; 
	padding: 2px !important;
}*/

[data-css$="-record-show-route-wrapper"] [data-css$="-show-drawer-content"] > .adminjs_Box:nth-child(-n+3) section label {
    padding-bottom: 7px !important;
}

@media screen and (min-width: 577px) {
    .kfxxgE {
        padding-left: 5px !important;
        padding-right: 5px !important;
        padding-bottom: 10px !important;
    }
}

.eyqVnr {
    padding-left: 5px !important;
    padding-right: 5px !important;
    padding-bottom: 4px !important;
}

[data-css$="-list"]{
	padding-top: 18px !important;
}

.adminjs_Badge{
	border: none !important;
	color:#1B365B !important;
}


.adminjs_TableHead tr:first-child {
    background-color: #F2F2F2 !important;
}

[data-css="sidebar-resources"],
a.adminjs_Box div {
	font-family: var(--secondary-font) !important;
}

[data-css="sidebar-resources"]  section > ul > li > a.adminjs_Box div, .adminjs_TableHead td, .adminjs_H2{
	text-transform: uppercase !important;
}

h5:not([data-css="default-dashboard"] + .adminjs_Box > .adminjs_Box > .adminjs_Box h5, [id^="UNIQUE_KEY_MODAL_"] > .adminjs_Box > * > h5.adminjs_H5) {
    font-size: medium !important;
    margin-left: 20px !important;
}

[id^="UNIQUE_KEY_MODAL_"] > .adminjs_Box > * > h5.adminjs_H5, [id^="UNIQUE_KEY_MODAL_"] > .adminjs_Box > * > .adminjs_Text {
    margin-left: 0px !important;
}

[id^="UNIQUE_KEY_MODAL_"] > .adminjs_Box > * > h5.adminjs_H5 {
	font-weight: bold !important;
}
  

.adminjs_TableHead td {
	text-transform: uppercase !important;
}

.adminjs_Label {
	text-transform: uppercase !important;
	font-weight: var(--font-weights-bold) !important;
}

.adminjs_Breadcrumbs {
	font-family: var(--secondary-font) !important;
	font-weight: var(--font-weights-light) !important;
}

.adminjs_Button {
	font-family: var(--secondary-font) !important;
}

:not([data-css^="campaign-monitor-"]).adminjs_TableCell {
	padding: 0px var(--space-lg) !important;
}

/*
BlackMagic: per qualche oscuro motivo a volte ignora
   il size impostato in adminjs_TableCell e va forzato cosi
*/
[data-css$="-head-row"].adminjs_TableRow .adminjs_TableCell {
	min-height: var(--sizes-x3) !important;
	height: var(--sizes-x3);
}

.adminjs_TableHead td {
	font-family: var(--secondary-font), sans-serif !important;
	text-transform: uppercase !important;
}

td.options {
	padding: 0 var(--space-sm) !important;
}

/* disable links for relations in relations-table */
/*[data-css="relations-table"] tbody td[data-css$="-cell"] a {
	pointer-events: none;
	cursor: default;
	text-decoration: none;
	color: inherit
}*/

[data-css$="-button"] {
	font-family: var(--secondary-font) !important;
}


[data-css="parameters-tabs"] {
	border: 1px solid var(--color-separator);
	box-shadow: var(--shadows-login);
}

[data-css="style-dropzone"] .adminjs_MessageBox > .adminjs_Box,
[data-css="locale-dropzone"] .adminjs_MessageBox > .adminjs_Box {
	width: 500px !important;
	height: 64px !important;
}

.container-box,
[data-css$="treeview-wrapper"],
[data-css$="-list-table-wrapper"],
[data-css$="-drawer-content"]{
    border: 0px solid #1a365a;
    box-shadow: var(--shadows-notes); 
}
/*
[data-css$="-show-drawer-content"] > section > section:not(:last-child) {
	width: 20vw !important;
}
*/

[data-css^="cp_controls-edit-"] {
	margin-left: var(--space-sm);
	margin-right: var(--space-sm);
}

[data-css="cp_controls-control-cell"] {
	white-space: normal !important;
}
[data-css="cp_controls-control-cell"] > section {
	max-width: 30vw;
}

[data-css$="-num_controls-table-cell"],
[data-css$="-progress-table-cell"] {
	text-align: right;
}

[data-css$="campaign-status-table-cell"],
[data-css$="tickets-status-cell"] {
	text-align: center;
}
[data-css$="tickets-status-cell"] > section {
	margin: 0 auto!important;
	width: 24px;
}

[data-css$="-action-header-buttons"] {
	max-width: 60%;
	text-align: right;
}
[data-css$="-action-header-buttons"] > section > a {
	margin-bottom: var(--space-md);
	margin-right: 0px !important;
	margin-left: var(--space-md) !important;
}

:not(#drawerPortal) > section[data-css$="-show-drawer-content"] > section > section:has(section section:only-child) {
    margin: var(--space-sm);
}
:not(#drawerPortal) > section[data-css$="-show-drawer-content"] > section > section:has(section :not(section:only-child)) {
    margin: var(--space-sm);
	padding: var(--space-sm) var(--space-md);
    letter-spacing: 0.00938em;
    cursor: text;
    -webkit-box-align: center;
    align-items: center;
    border-top-left-radius: var(--radii-md);
    border-top-right-radius: var(--radii-md);
    transition: background-color 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
    background-color: rgba(0, 0, 0, 0.04);
	border-bottom: 1px solid rgba(0, 0, 0, 0.42);
}
section[data-css$="-extra-data"] section[data-testid^="property-"] {
	margin: var(--space-xs) 0 0 0 !important;
	padding: var(--space-sm) var(--space-md);
    letter-spacing: 0.00938em;
    cursor: text;
    -webkit-box-align: center;
    align-items: center;
    border-top-left-radius: var(--radii-md);
    border-top-right-radius: var(--radii-md);
    transition: background-color 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
    background-color: rgba(0, 0, 0, 0.04);
}
:not(#drawerPortal) > section[data-css$="-show-drawer-content"] > section > section:has(section section[data-css$='extra-data']) {
	background-color: transparent !important;
	padding: 0px !important;
}

table[data-css="relations-table"] {
	background-color: rgba(255,255,255,0.75);
}


.treeview {
	width: 100%;
}

.treeview button[data-testid="action-delete"] {
	height: initial !important;
	padding: 0 !important;
}

.treeview li > section {
	margin-bottom: var(--space-sm) !important;
	padding: var(--space-xs) !important;
}
.treeview li > section:hover {
	background-color: rgba(0, 92, 169, 0.2);
}
.treeview li > section:hover section {
    color: rgb(0, 92, 169) !important;
}

strong {
	font-weight: var(--font-weights-bold);
}

[data-css^="ticket_notes-show"] section {
	margin-bottom: var(--space-sm);
}
[data-css^="ticket_notes-show"] .adminjs_Label {
	font-size: smaller;
}

[data-css^="ticket_notes-notes-item"] {
	padding: var(--space-sm) var(--space-md);
	box-shadow: var(--shadows-notes)
}

[data-css="tickets-edit-drawer-content"] [aria-disabled="true"],
[data-css="tickets-edit-drawer-content"] .adminjs_DatePicker,
[data-css="tickets-edit-drawer-content"] textarea:disabled,
[data-css="tickets-edit-drawer-content"] input:disabled {
	background-color: rgba(0, 0, 0, 0.04);
	color: var(--color-grey100)
}

[data-css="controls-inplan-table"] td[data-property-name="id"] {
	min-width: 4rem;
}

[data-css$="-table-head-row"] > td > a {
	font-family: var(--secondary-font) !important;
	font-weight: var(--font-weights-normal) !important;
}
[data-css="campaign-revision-table"] {
	font-size: 50%;
}

[data-css="remediation_plans-new-form-scrollable"] [data-css^="remediation_plans-edit"] > div {
	margin-bottom: 0 !important;
}

/***
 ***/
tbody[data-css="controlsets-table-body"] td[data-property-name="controltype"] {
    width: 5rem;
}

section[data-css="metrics-show-std_expected_value"] {
	width: 20vw;
}

section[data-css="controlsets-show-drawer-content"] > section:nth-child(2) section[data-css^="controlsets-show-"] > section > section,
section[data-css="controls-show-drawer-content"] > section:nth-child(3) section[data-css^="controls-show-"] > section > section,
section[data-css="controls-show-drawer-content"] > section:nth-child(4) section[data-css^="controls-show-"] > section > section,
section[data-css="controls-show-drawer-content"] > section:nth-child(5) section[data-css^="controls-show-"] > section > section {
	margin-right: var(--spacing) !important;
}


.controls-and-attributes-table-view {
	margin: 0;
	margin-top: var(--space-xl);
	overflow-x: hidden;
	overflow-y: hidden;
	height: 100%;
}

.controls-and-attributes-table-wrapper .adminjs_TableCell {
	padding: 2px 6px !important;
}
.controls-and-attributes-table-wrapper {
	display: flex;
	flex-direction: row;
}
.controls-and-attributes-table-wrapper td,
.side-data-box td > div{
	font-size: var(--font-sizes-xs) !important;
	font-weight: var(--font-weights-light);
	text-align: center;
}
.header-box td,
.data-box td {
	width: 5vw;
	min-width: 5vw;
	max-width: 5vw;
	overflow: hidden;
	font-weight: var(--font-weights-normal) !important;
	line-height: var(--line-heights-md);
	height: 18px;
}
.side-data-box td,
.side-data-box td > div
 {
	text-align: left !important;
	overflow: hidden;
	line-height: var(--line-heights-md);
	height: 18px;
}
.hovered {
   background-color: rgba(0,92,169,0.15) !important;
}
.empty-attr {
   background-color: rgba(230,126,34,0.15) !important;
}

.controls-and-attributes-table-wrapper {
	display: grid;
	grid-template-areas: 'sh h' 'sd d' !important;
	grid-template-rows: auto auto;
}
.container-box {
	padding: 1rem;
}

.side-header-box {
	width: 28vw;
	grid-area: sh;
}

.header-box {
	grid-area: h;
	margin-left: 0;
	margin-right: 15px;
	overflow-x: scroll;
	scrollbar-width: none;
	-ms-overflow-style: none;
}
.header-box::-webkit-scrollbar {
	display: none;
}
.side-data-box {
	width: 28vw;
	height: 388px;
	grid-area: sd;
	overflow-y: scroll;
	scrollbar-width: none;
	-ms-overflow-style: none;
}
.side-data-box::-webkit-scrollbar {
	display: none;
}
.data-box {
	height: 95%;
	grid-area: d;
	max-height: 430px;
	overflow-y: scroll;
	overflow-x: scroll;
}

.no-scroll {
	overflow: hidden !important;
}
.scroll-y {
	overflow-y: scroll !important;
}

.headCol {
    width: 20vw;
	min-width: 20vw;
	max-width: 20vw;
	padding: 14px 6px !important;
	font-weight: var(--font-weights-normal)!important;
}

.has-attr {
	background-color: #5c946e !important;
}

.has-attr.hovered,
.has-attr:hover {
	background-color: rgba(0, 93, 168, 0.25) !important;
}

.data-box tr:not(.empty-attr) td.odd,
.header-box td.odd {
	background-color: rgba(211, 211, 211, 0.36);
}

.data-box td.even,
.header-box td.even {
	background-color: inherit;;
}

.campaign-ticket-user-data {
	height: var(--sizes-max-scrollable-height);
}
.domain-line {
	display: flex;
	flex-direction: row;
	background-color:rgba(0, 93, 168, 0.4);
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 1px;
}
.company-line,
.controlplan-line,
.controlset-line {
	display: flex;
	flex-direction: row;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 1px;
}
.company-line {
	background-color: rgba(0, 93, 168, 0.2);
}
.controlplan-line {
	background-color: rgba(0, 93, 168, 0.1);
}
.controlset-line {
	background-color: rgba(211, 211, 211, 0.36);
}

.missing {
	background-color: rgba(200, 30, 30, 0.25); 
}

.controlset-line.hidden { display: none;}
.controlplan-line.hidden { display: none;}
.company-line.hidden { display: none;}
.ticket-line.hidden { display: none;}

.ticket-line {
	display: flex;
	flex-direction: row;
	border: 1px solid rgba(0,0,0,0.03)
}
.ticket-line:even {
	background-color: rgba(0, 93, 168, 0.04);
}
.ticket-line .adminjs_Box {
	text-align: left;
	margin: var(--space-xs);
}
.ticket-line .adminjs_Box:nth-child(1) {
	width: 10%;
}
.ticket-line .adminjs_Box:nth-child(2) {
	width: 40%;
}
.ticket-line .adminjs_Box:nth-child(3) {
	width: 30%;
}
.ticket-line .adminjs_Box:nth-child(4) {
	width: 20%;
	overflow: hidden;
}


/***** spinkit.css *****/
.sk-wave {
	display: flex;
	justify-content: space-between;
	margin: auto;
}

.sk-wave-rect {
	height: 100%;
	width: 15%;
	animation: sk-wave 1.2s infinite ease-in-out;
	&:nth-child(1) { animation-delay: -1.2s; }
	&:nth-child(2) { animation-delay: -1.1s; }
	&:nth-child(3) { animation-delay: -1.0s; }
	&:nth-child(4) { animation-delay: -0.9s; }
	&.sk-wave-rect:nth-child(5) { animation-delay: -0.8s; }
}

@keyframes sk-wave {

	0%,
	40%,
	100% {
		transform: scaleY(0.4);
	}

	20% {
		transform: scaleY(1);
	}
}
